.small-list.list-group{
    position: absolute;
    top: 10px;
    left: 250px;
    min-width: 450px;
    overflow: auto;
    max-height: 500px;
    width: 70%;
    margin-top: 10px;
}
.small-list.list-group .list-group-item{
    cursor: pointer;
    transition: 0.8s;
}
.ep-no{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}